/* 선택자(selector) */
div#header-center {
  margin:0 auto;
  width:1080px;
}

#header-search > h1 {
  width:280px;
  display: inline-block;
}

#header-search fieldset {
  width: 520px;
  display: inline-block;
}
